# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
2_data/
4_manuscript/
5_summary/

3_data_analysis/data_analysis20190828/
3_data_analysis/data_analysis20191015/
3_data_analysis/data_analysis20191125/
3_data_analysis/data_analysis20200108/

###large files3_data_analysis/1_urine_metabolomics_data/peaks/urine_metabolomics_data.rda
3_data_analysis/1_data_preparation/1_urine_metabolomics_data/peak_table
3_data_analysis/1_data_preparation/1_urine_metabolomics_data/peaks/expression_data
3_data_analysis/1_data_preparation/1_urine_metabolomics_data/peaks/urine_metabolomics_data.rda
3_data_analysis/3_biomakers/1_urine_metabolomics_total_markers/sam_test
3_data_analysis/3_biomakers/4_urine_metabolomics_piumet/hmdbMS1Database0.0.1
3_data_analysis/data_analysis20190828/correlation_network_analysis/identification_table/NEG/smartd_rplc_neg_batch1_5.gz
3_data_analysis/data_analysis20190828/correlation_network_analysis/identification_table/POS/smartd_rplc_pos_batch1_5.gz
3_data_analysis/data_analysis20190828/smartd_rplc_neg_batch1_5
3_data_analysis/data_analysis20190828/smartd_rplc_neg_batch2_5
3_data_analysis/data_analysis20190828/smartd_rplc_pos_batch1_5
3_data_analysis/data_analysis20190828/smartd_rplc_pos_batch2_5
3_data_analysis/data_analysis20191015/all_feature/smartd_rplc_neg_5
3_data_analysis/data_analysis20191015/all_feature/smartd_rplc_neg_5.gz
3_data_analysis/data_analysis20191015/all_feature/smartd_rplc_pos_5
3_data_analysis/data_analysis20191015/all_feature/smartd_rplc_pos_5.gz
3_data_analysis/data_analysis20191015/correlation_network/identification_table/NEG/smartd_rplc_neg_5
3_data_analysis/data_analysis20191015/correlation_network/identification_table/NEG/smartd_rplc_neg_5 16.02.43.gz
3_data_analysis/data_analysis20191015/correlation_network/identification_table/POS/smartd_rplc_pos_5
3_data_analysis/data_analysis20191015/correlation_network/identification_table/POS/smartd_rplc_pos_5 16.02.38.gz
3_data_analysis/data_analysis20191015/prediction/identification_table/ms1_data_rplc_batch2.csv
3_data_analysis/data_analysis20191125/20191218/RPLC/NEG/peak_table.csv
3_data_analysis/data_analysis20191125/20191218/RPLC/NEG/Peak.table.csv
3_data_analysis/data_analysis20191125/20191218/RPLC/NEG/rplc_neg_1
3_data_analysis/data_analysis20191125/20191218/RPLC/NEG/rplc_neg_4
3_data_analysis/data_analysis20191125/20191218/RPLC/NEG/rplc_neg_5
3_data_analysis/data_analysis20191125/20191218/RPLC/NEG/rplc_neg_6
3_data_analysis/data_analysis20191125/20191218/RPLC/POS/peak_table.csv
3_data_analysis/data_analysis20191125/20191218/RPLC/POS/Peak.table.csv
3_data_analysis/data_analysis20191125/20191218/RPLC/POS/rplc_pos_1
3_data_analysis/data_analysis20191125/20191218/RPLC/POS/rplc_pos_4
3_data_analysis/data_analysis20191125/20191218/RPLC/POS/rplc_pos_5
3_data_analysis/data_analysis20191125/20191218/RPLC/POS/rplc_pos_6
3_data_analysis/data_analysis20191125/annotation/RPLC/metabolite_table.csv
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE25/HMDB.metabolite.data
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE25/HMDB.metabolite.data_Result/result
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE25/HMDB.metabolite.data_Result/result.gz
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE25/hmdbDatabase0.0.1
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE25/hmdbDatabase0.0.1_Result/result
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE25/hmdbDatabase0.0.1_Result/result 16.06.52.gz
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE25/massbankDatabase0.0.1
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE25/massbankDatabase0.0.1_Result/result
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE25/massbankDatabase0.0.1_Result/result 16.06.57.gz
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE25/metlinDatabase0.0.1_Result/result
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE25/metlinDatabase0.0.1_Result/result 16.07.01.gz
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE25/monaDatabase0.0.1
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE25/monaDatabase0.0.1_Result/result
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE25/monaDatabase0.0.1_Result/result 16.07.05.gz
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE25/ms2.info
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE25/msDatabase_rplc0.0.1_Result/result
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE25/msDatabase_rplc0.0.1_Result/result 16.07.09.gz
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE25/nistDatabase0.0.1
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE25/nistDatabase0.0.1_Result/result
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE25/nistDatabase0.0.1_Result/result 16.07.14.gz
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE25/orbitrapDatabase0.0.1_Result/result
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE25/orbitrapDatabase0.0.1_Result/result 16.07.19.gz
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE25/Peak.table_batch1_RPLC_NEG.csv
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE25/QCR-MS2_NCE25_NEG.mgf
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE25/result.nRPLC.nce25
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE50/HMDB.metabolite.data
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE50/hmdbDatabase0.0.1
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE50/hmdbDatabase0.0.1_Result/result
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE50/hmdbDatabase0.0.1_Result/result 16.07.31.gz
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE50/massbankDatabase0.0.1
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE50/massbankDatabase0.0.1_Result/result
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE50/massbankDatabase0.0.1_Result/result 16.07.35.gz
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE50/metlinDatabase0.0.1_Result/result
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE50/metlinDatabase0.0.1_Result/result 16.07.38.gz
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE50/monaDatabase0.0.1
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE50/monaDatabase0.0.1_Result/result
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE50/monaDatabase0.0.1_Result/result 16.07.42.gz
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE50/ms2.info
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE50/msDatabase_rplc0.0.1_Result/result
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE50/msDatabase_rplc0.0.1_Result/result 16.07.47.gz
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE50/nistDatabase0.0.1
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE50/nistDatabase0.0.1_Result/result
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE50/nistDatabase0.0.1_Result/result 16.07.51.gz
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE50/orbitrapDatabase0.0.1_Result/result
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE50/orbitrapDatabase0.0.1_Result/result 16.07.55.gz
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE50/Peak.table_batch1_RPLC_NEG.csv
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE50/QCR-MS2_NCE50_NEG.mgf
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE50/result.nRPLC.nce50
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE25/HMDB.metabolite.data
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE25/HMDB.metabolite.data_Result/result
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE25/HMDB.metabolite.data_Result/result 16.08.13.gz
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE25/hmdbDatabase0.0.1
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE25/hmdbDatabase0.0.1_Result/result
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE25/hmdbDatabase0.0.1_Result/result 16.08.17.gz
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE25/massbankDatabase0.0.1
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE25/massbankDatabase0.0.1_Result/result
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE25/massbankDatabase0.0.1_Result/result 16.08.23.gz
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE25/metlinDatabase0.0.1_Result/result
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE25/metlinDatabase0.0.1_Result/result 16.08.27.gz
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE25/monaDatabase0.0.1
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE25/monaDatabase0.0.1_Result/result.gz
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE25/ms2.info
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE25/msDatabase_rplc0.0.1_Result/result.gz
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE25/nistDatabase0.0.1
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE25/nistDatabase0.0.1_Result/result.gz
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE25/orbitrapDatabase0.0.1_Result/result.gz
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE25/Peak.table_batch1_RPLC_POS.csv
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE25/QC_MS2_NCE25_1.mgf
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE25/QC_MS2_NCE25_2.mgf
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE25/QCR-MS2_NCE25_POS.mgf
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE25/QCR-MS2_NCE25_pos.mzXML
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE25/result.pRPLC.nce25
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE50/HMDB.metabolite.data
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE50/hmdbDatabase0.0.1
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE50/hmdbDatabase0.0.1_Result/result
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE50/hmdbDatabase0.0.1_Result/result 16.13.00.gz
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE50/massbankDatabase0.0.1
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE50/massbankDatabase0.0.1_Result/result
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE50/massbankDatabase0.0.1_Result/result 16.13.04.gz
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE50/metlinDatabase0.0.1_Result/result
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE50/metlinDatabase0.0.1_Result/result 16.13.07.gz
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE50/monaDatabase0.0.1
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE50/monaDatabase0.0.1_Result/result
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE50/monaDatabase0.0.1_Result/result 16.13.13.gz
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE50/ms2.info
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE50/msDatabase_rplc0.0.1_Result/result
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE50/msDatabase_rplc0.0.1_Result/result 16.13.17.gz
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE50/nistDatabase0.0.1
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE50/nistDatabase0.0.1_Result/result
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE50/nistDatabase0.0.1_Result/result 16.13.22.gz
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE50/orbitrapDatabase0.0.1_Result/result
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE50/orbitrapDatabase0.0.1_Result/result 16.13.26.gz
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE50/Peak.table_batch1_RPLC_POS.csv
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE50/QC_MS2_NCE50_1.mgf
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE50/QC_MS2_NCE50_2.mgf
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE50/QCR-MS2_NCE50_pos_171129191602.mzXML
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE50/QCR-MS2_NCE50_POS.mgf
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE50/QCR-MS2_NCE50_pos.mzXML
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE50/result.pRPLC.nce50
3_data_analysis/data_analysis20191125/batch1_2_alignment/RPLC/NEG/smartd_rplc_neg_batch1_5
3_data_analysis/data_analysis20191125/batch1_2_alignment/RPLC/NEG/smartd_rplc_neg_batch1_5 16.13.47.gz
3_data_analysis/data_analysis20191125/batch1_2_alignment/RPLC/NEG/smartd_rplc_neg_batch2_5
3_data_analysis/data_analysis20191125/batch1_2_alignment/RPLC/NEG/smartd_rplc_neg_batch2_5 16.13.47.gz
3_data_analysis/data_analysis20191125/batch1_2_alignment/RPLC/POS_NEG/peak_table_batch1.csv
3_data_analysis/data_analysis20191125/batch1_2_alignment/RPLC/POS_NEG/peak_table_batch2.csv
3_data_analysis/data_analysis20191125/batch1_2_alignment/RPLC/POS_NEG/peak_table.csv
3_data_analysis/data_analysis20191125/batch1_2_alignment/RPLC/POS/smartd_rplc_pos_batch1_5
3_data_analysis/data_analysis20191125/batch1_2_alignment/RPLC/POS/smartd_rplc_pos_batch1_5 16.13.54.gz
3_data_analysis/data_analysis20191125/batch1_2_alignment/RPLC/POS/smartd_rplc_pos_batch2_5
3_data_analysis/data_analysis20191125/batch1_2_alignment/RPLC/POS/smartd_rplc_pos_batch2_5 16.13.54.gz
3_data_analysis/data_analysis20191125/batch1_2_alignment/RPLC/troubleshooting.ipynb
3_data_analysis/data_analysis20191125/metabolite_table/correlation_network/metabolite_table.csv
