# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
2_data/
4_manuscript/
5_summary/

3_data_analysis/data_analysis20190828/
3_data_analysis/data_analysis20191015/
3_data_analysis/data_analysis20191125/
3_data_analysis/data_analysis20200108/

###large files3_data_analysis/1_urine_metabolomics_data/peaks/urine_metabolomics_data.rda
3_data_analysis/data_analysis20190828/correlation_network_analysis/identification_table/NEG/smartd_rplc_neg_batch1_5.gz
3_data_analysis/data_analysis20190828/correlation_network_analysis/identification_table/POS/smartd_rplc_pos_batch1_5.gz
3_data_analysis/data_analysis20190828/smartd_rplc_neg_batch1_5
3_data_analysis/data_analysis20190828/smartd_rplc_neg_batch2_5
3_data_analysis/data_analysis20190828/smartd_rplc_pos_batch1_5
3_data_analysis/data_analysis20190828/smartd_rplc_pos_batch2_5
3_data_analysis/data_analysis20191015/all_feature/smartd_rplc_neg_5
3_data_analysis/data_analysis20191015/all_feature/smartd_rplc_pos_5
3_data_analysis/data_analysis20191015/correlation_network/identification_table/NEG/smartd_rplc_neg_5
3_data_analysis/data_analysis20191015/correlation_network/identification_table/POS/smartd_rplc_pos_5
3_data_analysis/data_analysis20191015/prediction/identification_table/ms1_data_rplc_batch2.csv
3_data_analysis/data_analysis20191125/20191218/RPLC/NEG/peak_table.csv
3_data_analysis/data_analysis20191125/20191218/RPLC/NEG/Peak.table.csv
3_data_analysis/data_analysis20191125/20191218/RPLC/NEG/rplc_neg_1
3_data_analysis/data_analysis20191125/20191218/RPLC/NEG/rplc_neg_4
3_data_analysis/data_analysis20191125/20191218/RPLC/NEG/rplc_neg_5
3_data_analysis/data_analysis20191125/20191218/RPLC/NEG/rplc_neg_6
3_data_analysis/data_analysis20191125/20191218/RPLC/POS/peak_table.csv
3_data_analysis/data_analysis20191125/20191218/RPLC/POS/Peak.table.csv
3_data_analysis/data_analysis20191125/20191218/RPLC/POS/rplc_pos_1
3_data_analysis/data_analysis20191125/20191218/RPLC/POS/rplc_pos_4
3_data_analysis/data_analysis20191125/20191218/RPLC/POS/rplc_pos_5
3_data_analysis/data_analysis20191125/20191218/RPLC/POS/rplc_pos_6
3_data_analysis/data_analysis20191125/annotation/RPLC/metabolite_table.csv
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE25/Peak.table_batch1_RPLC_NEG.csv
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE25/result.nRPLC.nce25
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE50/Peak.table_batch1_RPLC_NEG.csv
3_data_analysis/data_analysis20191125/annotation/RPLC/NEG/NCE50/result.nRPLC.nce50
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE25/HMDB.metabolite.data_Result/result
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE25/hmdbDatabase0.0.1_Result/result
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE25/massbankDatabase0.0.1_Result/result
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE25/metlinDatabase0.0.1_Result/result
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE25/Peak.table_batch1_RPLC_POS.csv
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE25/QCR-MS2_NCE25_pos.mzXML
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE25/result.pRPLC.nce25
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE50/hmdbDatabase0.0.1_Result/result
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE50/massbankDatabase0.0.1_Result/result
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE50/metlinDatabase0.0.1_Result/result
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE50/monaDatabase0.0.1_Result/result
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE50/msDatabase_rplc0.0.1_Result/result
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE50/nistDatabase0.0.1_Result/result
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE50/orbitrapDatabase0.0.1_Result/result
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE50/Peak.table_batch1_RPLC_POS.csv
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE50/QCR-MS2_NCE50_pos_171129191602.mzXML
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE50/QCR-MS2_NCE50_POS.mgf
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE50/QCR-MS2_NCE50_pos.mzXML
3_data_analysis/data_analysis20191125/annotation/RPLC/POS/NCE50/result.pRPLC.nce50
3_data_analysis/data_analysis20191125/batch1_2_alignment/RPLC/NEG/smartd_rplc_neg_batch1_5
3_data_analysis/data_analysis20191125/batch1_2_alignment/RPLC/NEG/smartd_rplc_neg_batch2_5
3_data_analysis/data_analysis20191125/batch1_2_alignment/RPLC/POS_NEG/peak_table_batch1.csv
3_data_analysis/data_analysis20191125/batch1_2_alignment/RPLC/POS_NEG/peak_table_batch2.csv
3_data_analysis/data_analysis20191125/batch1_2_alignment/RPLC/POS_NEG/peak_table.csv
3_data_analysis/data_analysis20191125/batch1_2_alignment/RPLC/POS/smartd_rplc_pos_batch1_5
3_data_analysis/data_analysis20191125/batch1_2_alignment/RPLC/POS/smartd_rplc_pos_batch2_5
3_data_analysis/data_analysis20191125/batch1_2_alignment/RPLC/troubleshooting.ipynb
3_data_analysis/data_analysis20191125/metabolite_table/correlation_network/metabolite_table.csv
3_data_analysis/data_analysis20200108/data_preparation_for_analysis/peak_table
3_data_analysis/data_analysis20200108/data_preparation_for_analysis/peak_table.csv
3_data_analysis/data_analysis20200108/metabolite_identification/RPLC/NEG/identification.table.csv
3_data_analysis/data_analysis20200108/metabolite_identification/RPLC/NEG/identification.table.new.csv
3_data_analysis/data_analysis20200108/metabolite_identification/RPLC/POS/identification.table.csv
3_data_analysis/data_analysis20200108/metabolite_identification/RPLC/POS/identification.table.new.csv
3_data_analysis/data_analysis20200108/prediction/features/peak_table.gz
3_data_analysis/data_analysis20200108/prediction/features/RF/GA_prediction/peak_shape/NEG/QC1-13.mzXML
3_data_analysis/data_analysis20200108/prediction/features/RF/GA_prediction/peak_shape/NEG/QCU2.mzXML
3_data_analysis/data_analysis20200108/prediction/features/RF/GA_prediction/peak_shape/POS/QC1-3.mzXML
3_data_analysis/data_analysis20200108/prediction/features/RF/GA_prediction/peak_shape/POS/QCU1.mzXML
3_data_analysis/data_analysis20200108/prediction/features/RF/GA_prediction/peak_shape/POS/QCU15.mzXML
3_data_analysis/data_analysis20200108/prediction/features/RF/GA_prediction/peak_shape/POS/QCU28.mzXML
3_data_analysis/data_analysis20200108/prediction/features/RF/time_to_due_prediction/peak_shape/NEG/QC1-13.mzXML
3_data_analysis/data_analysis20200108/prediction/features/RF/time_to_due_prediction/peak_shape/NEG/QCU2.mzXML
3_data_analysis/data_analysis20200108/prediction/features/RF/time_to_due_prediction/peak_shape/POS/QC1-3.mzXML
3_data_analysis/data_analysis20200108/prediction/features/RF/time_to_due_prediction/peak_shape/POS/QCU1.mzXML
3_data_analysis/data_analysis20200108/prediction/features/RF/time_to_due_prediction/peak_shape/POS/QCU15.mzXML
3_data_analysis/data_analysis20200108/prediction/features/RF/time_to_due_prediction/peak_shape/POS/QCU28.mzXML
3_data_analysis/data_analysis20200108/prediction/features/sample_data_dis_x.gz
3_data_analysis/data_analysis20200108/prediction/features/sample_data_dis.gz
3_data_analysis/data_analysis20200108/prediction/features/sample_data_val_x.gz
3_data_analysis/data_analysis20200108/prediction/features/sample_data_val.gz
3_data_analysis/data_analysis20200108/prediction/metabolites/RF/all_marker_ms2_shape/MS2_plot/result.nRPLC.nce25
3_data_analysis/data_analysis20200108/prediction/metabolites/RF/all_marker_ms2_shape/MS2_plot/result.nRPLC.nce50
3_data_analysis/data_analysis20200108/prediction/metabolites/RF/all_marker_ms2_shape/MS2_plot/result.pRPLC.nce25
3_data_analysis/data_analysis20200108/prediction/metabolites/RF/all_marker_ms2_shape/MS2_plot/result.pRPLC.nce50
3_data_analysis/data_analysis20200108/prediction/metabolites/RF/all_marker_ms2_shape/peak_shape/QC1-3.mzXML
3_data_analysis/data_analysis20200108/prediction/metabolites/RF/all_marker_ms2_shape/QCU1.mzXML
3_data_analysis/data_analysis20200108/prediction/metabolites/RF/all_marker_ms2_shape/QCU15.mzXML
3_data_analysis/data_analysis20200108/prediction/metabolites/RF/all_marker_ms2_shape/QCU28.mzXML
3_data_analysis/data_analysis20200108/prediction/metabolites/RF/GA_prediction/annotation_confirmation/result.nRPLC.nce25
3_data_analysis/data_analysis20200108/prediction/metabolites/RF/GA_prediction/annotation_confirmation/result.nRPLC.nce50
3_data_analysis/data_analysis20200108/prediction/metabolites/RF/GA_prediction/annotation_confirmation/result.pRPLC.nce25
3_data_analysis/data_analysis20200108/prediction/metabolites/RF/GA_prediction/annotation_confirmation/result.pRPLC.nce50
3_data_analysis/data_analysis20200108/prediction/metabolites/RF/GA_prediction/peak_shape/NEG/QC1-2.mzXML
3_data_analysis/data_analysis20200108/prediction/metabolites/RF/GA_prediction/peak_shape/NEG/QC2-1.mzXML
3_data_analysis/data_analysis20200108/prediction/metabolites/RF/GA_prediction/peak_shape/NEG/QCU17.mzXML
3_data_analysis/data_analysis20200108/prediction/metabolites/RF/GA_prediction/peak_shape/NEG/QCU27.mzXML
3_data_analysis/data_analysis20200108/prediction/metabolites/RF/GA_prediction/peak_shape/POS/QC1-3.mzXML
3_data_analysis/data_analysis20200108/prediction/metabolites/RF/GA_prediction/peak_shape/POS/QCU1.mzXML
3_data_analysis/data_analysis20200108/prediction/metabolites/RF/GA_prediction/peak_shape/POS/QCU15.mzXML
3_data_analysis/data_analysis20200108/prediction/metabolites/RF/GA_prediction/peak_shape/POS/QCU28.mzXML
3_data_analysis/data_analysis20200108/prediction/metabolites/RF/time_to_due_prediction/annotation_confirmation/result.nRPLC.nce25
3_data_analysis/data_analysis20200108/prediction/metabolites/RF/time_to_due_prediction/annotation_confirmation/result.nRPLC.nce50
3_data_analysis/data_analysis20200108/prediction/metabolites/RF/time_to_due_prediction/annotation_confirmation/result.pRPLC.nce25
3_data_analysis/data_analysis20200108/prediction/metabolites/RF/time_to_due_prediction/annotation_confirmation/result.pRPLC.nce50
3_data_analysis/data_analysis20200108/prediction/metabolites/RF/time_to_due_prediction/peak_shape/POS/QC1-3.mzXML
3_data_analysis/data_analysis20200108/prediction/metabolites/RF/time_to_due_prediction/peak_shape/POS/QCU1.mzXML
3_data_analysis/data_analysis20200108/prediction/metabolites/RF/time_to_due_prediction/peak_shape/POS/QCU15.mzXML
3_data_analysis/data_analysis20200108/prediction/metabolites/RF/time_to_due_prediction/peak_shape/POS/QCU28.mzXML
3_data_analysis/data_analysis20200108/prediction/metabolites/RF/time_to_due_prediction/remove_cs/annotation_confirmation/result.nRPLC.nce25
3_data_analysis/data_analysis20200108/prediction/metabolites/RF/time_to_due_prediction/remove_cs/annotation_confirmation/result.nRPLC.nce50
3_data_analysis/data_analysis20200108/prediction/metabolites/RF/time_to_due_prediction/remove_cs/annotation_confirmation/result.pRPLC.nce25
3_data_analysis/data_analysis20200108/prediction/metabolites/RF/time_to_due_prediction/remove_cs/annotation_confirmation/result.pRPLC.nce50
3_data_analysis/data_analysis20200108/prediction/metabolites/RF/time_to_due_prediction/remove_cs/peak_shape/POS/QC1-3.mzXML
3_data_analysis/data_analysis20200108/prediction/metabolites/RF/time_to_due_prediction/remove_cs/peak_shape/POS/QCU1.mzXML
3_data_analysis/data_analysis20200108/prediction/metabolites/RF/time_to_due_prediction/remove_cs/peak_shape/POS/QCU15.mzXML
3_data_analysis/data_analysis20200108/prediction/metabolites/RF/time_to_due_prediction/remove_cs/peak_shape/POS/QCU28.mzXML
3_data_analysis/data_analysis20200108/urine_metabolome/data_cleaning/HILIC/NEG/hilic_neg_1.gz
3_data_analysis/data_analysis20200108/urine_metabolome/data_cleaning/HILIC/NEG/Peak_table_for_cleaning.csv
3_data_analysis/data_analysis20200108/urine_metabolome/data_cleaning/HILIC/NEG/peak_table.csv
3_data_analysis/data_analysis20200108/urine_metabolome/data_cleaning/HILIC/POS/hilic_pos_1.gz
3_data_analysis/data_analysis20200108/urine_metabolome/data_cleaning/HILIC/POS/hilic_pos_4.gz
3_data_analysis/data_analysis20200108/urine_metabolome/data_cleaning/HILIC/POS/hilic_pos_5.gz
3_data_analysis/data_analysis20200108/urine_metabolome/data_cleaning/HILIC/POS/hilic_pos_6.gz
3_data_analysis/data_analysis20200108/urine_metabolome/data_cleaning/HILIC/POS/Peak_table_for_cleaning.csv
3_data_analysis/data_analysis20200108/urine_metabolome/data_cleaning/HILIC/POS/peak_table.csv
3_data_analysis/data_analysis20200108/urine_metabolome/data_cleaning/RPLC/NEG/Peak_table_for_cleaning.csv
3_data_analysis/data_analysis20200108/urine_metabolome/data_cleaning/RPLC/NEG/peak_table.csv
3_data_analysis/data_analysis20200108/urine_metabolome/data_cleaning/RPLC/NEG/rplc_neg_1.gz
3_data_analysis/data_analysis20200108/urine_metabolome/data_cleaning/RPLC/NEG/rplc_neg_4.gz
3_data_analysis/data_analysis20200108/urine_metabolome/data_cleaning/RPLC/NEG/rplc_neg_5.gz
3_data_analysis/data_analysis20200108/urine_metabolome/data_cleaning/RPLC/NEG/rplc_neg_6.gz
3_data_analysis/data_analysis20200108/urine_metabolome/data_cleaning/RPLC/POS/Peak_table_for_cleaning.csv
3_data_analysis/data_analysis20200108/urine_metabolome/data_cleaning/RPLC/POS/peak_table.csv
3_data_analysis/data_analysis20200108/urine_metabolome/data_cleaning/RPLC/POS/rplc_pos_1
3_data_analysis/data_analysis20200108/urine_metabolome/data_cleaning/RPLC/POS/rplc_pos_4
3_data_analysis/data_analysis20200108/urine_metabolome/data_cleaning/RPLC/POS/rplc_pos_5
3_data_analysis/data_analysis20200108/urine_metabolome/data_cleaning/RPLC/POS/rplc_pos_6
3_data_analysis/data_analysis20200108/urine_metabolome/data_preparation_for_analysis/peaks/expression_data
3_data_analysis/data_analysis20200108/urine_metabolome/metabolite_annotation/RPLC/NEG/identification.table.csv
3_data_analysis/data_analysis20200108/urine_metabolome/metabolite_annotation/RPLC/NEG/identification.table.new.csv
3_data_analysis/data_analysis20200108/urine_metabolome/metabolite_annotation/RPLC/POS/identification.table.csv
3_data_analysis/data_analysis20200108/urine_metabolome/metabolite_annotation/RPLC/POS/identification.table.new.csv
3_data_analysis/data_analysis20200108/urine_metabolome/prediction/feature/sample_data_dis_x.gz
3_data_analysis/data_analysis20200108/urine_metabolome/prediction/feature/sample_data_dis.gz
3_data_analysis/data_analysis20200108/urine_metabolome/prediction/feature/sample_data_val_x.gz
3_data_analysis/data_analysis20200108/urine_metabolome/prediction/feature/sample_data_val.gz

