# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
2_data/
4_manuscript/
5_summary/

3_data_analysis/data_analysis20190828/
3_data_analysis/data_analysis20191015/
3_data_analysis/data_analysis20191125/
3_data_analysis/data_analysis20200108/

###large files3_data_analysis/1_urine_metabolomics_data/peaks/urine_metabolomics_data.rda
3_data_analysis/1_data_preparation/1_urine_metabolomics_data/peak_table
3_data_analysis/1_data_preparation/1_urine_metabolomics_data/peaks/expression_data
3_data_analysis/1_data_preparation/1_urine_metabolomics_data/peaks/urine_metabolomics_data.rda
3_data_analysis/3_biomakers/1_urine_metabolomics_total_markers/sam_test
3_data_analysis/3_biomakers/4_urine_metabolomics_piumet/hmdbMS1Database0.0.1
3_data_analysis/4_prediction/2_urine_metabolomics_ga_prediction_rf/annotation_confirmation/HMDB.metabolite.data
3_data_analysis/4_prediction/2_urine_metabolomics_ga_prediction_rf/annotation_confirmation/hmdbDatabase0.0.1
3_data_analysis/4_prediction/2_urine_metabolomics_ga_prediction_rf/annotation_confirmation/massbankDatabase0.0.1
3_data_analysis/4_prediction/2_urine_metabolomics_ga_prediction_rf/annotation_confirmation/monaDatabase0.0.1
3_data_analysis/4_prediction/2_urine_metabolomics_ga_prediction_rf/annotation_confirmation/nistDatabase0.0.1
3_data_analysis/4_prediction/2_urine_metabolomics_ga_prediction_rf/annotation_confirmation/result.nRPLC.nce25
3_data_analysis/4_prediction/2_urine_metabolomics_ga_prediction_rf/annotation_confirmation/result.nRPLC.nce50
3_data_analysis/4_prediction/2_urine_metabolomics_ga_prediction_rf/annotation_confirmation/result.pRPLC.nce25
3_data_analysis/4_prediction/2_urine_metabolomics_ga_prediction_rf/annotation_confirmation/result.pRPLC.nce50
3_data_analysis/4_prediction/2_urine_metabolomics_ga_prediction_rf/peak_shape/NEG/QC1-2.mzXML
3_data_analysis/4_prediction/2_urine_metabolomics_ga_prediction_rf/peak_shape/NEG/QC2-1.mzXML
3_data_analysis/4_prediction/2_urine_metabolomics_ga_prediction_rf/peak_shape/NEG/QCU17.mzXML
3_data_analysis/4_prediction/2_urine_metabolomics_ga_prediction_rf/peak_shape/NEG/QCU27.mzXML
3_data_analysis/4_prediction/2_urine_metabolomics_ga_prediction_rf/peak_shape/POS/QC1-3.mzXML
3_data_analysis/4_prediction/2_urine_metabolomics_ga_prediction_rf/peak_shape/POS/QCU1.mzXML
3_data_analysis/4_prediction/2_urine_metabolomics_ga_prediction_rf/peak_shape/POS/QCU15.mzXML
3_data_analysis/4_prediction/2_urine_metabolomics_ga_prediction_rf/peak_shape/POS/QCU28.mzXML
3_data_analysis/4_prediction/3_urine_metabolomics_time_to_delivery_prediction_rf/annotation_confirmation/result.nRPLC.nce25
3_data_analysis/4_prediction/3_urine_metabolomics_time_to_delivery_prediction_rf/annotation_confirmation/result.nRPLC.nce50
3_data_analysis/4_prediction/3_urine_metabolomics_time_to_delivery_prediction_rf/annotation_confirmation/result.pRPLC.nce25
3_data_analysis/4_prediction/3_urine_metabolomics_time_to_delivery_prediction_rf/annotation_confirmation/result.pRPLC.nce50
3_data_analysis/4_prediction/3_urine_metabolomics_time_to_delivery_prediction_rf/peak_shape/POS/QC1-3.mzXML
3_data_analysis/4_prediction/3_urine_metabolomics_time_to_delivery_prediction_rf/peak_shape/POS/QCU1.mzXML
3_data_analysis/4_prediction/3_urine_metabolomics_time_to_delivery_prediction_rf/peak_shape/POS/QCU15.mzXML
3_data_analysis/4_prediction/3_urine_metabolomics_time_to_delivery_prediction_rf/peak_shape/POS/QCU28.mzXML
3_data_analysis/4_prediction/3_urine_metabolomics_time_to_delivery_prediction_rf/remove_cs/annotation_confirmation/HMDB.metabolite.data
3_data_analysis/4_prediction/3_urine_metabolomics_time_to_delivery_prediction_rf/remove_cs/annotation_confirmation/hmdbDatabase0.0.1
3_data_analysis/4_prediction/3_urine_metabolomics_time_to_delivery_prediction_rf/remove_cs/annotation_confirmation/massbankDatabase0.0.1
3_data_analysis/4_prediction/3_urine_metabolomics_time_to_delivery_prediction_rf/remove_cs/annotation_confirmation/monaDatabase0.0.1
3_data_analysis/4_prediction/3_urine_metabolomics_time_to_delivery_prediction_rf/remove_cs/annotation_confirmation/nistDatabase0.0.1
3_data_analysis/4_prediction/3_urine_metabolomics_time_to_delivery_prediction_rf/remove_cs/annotation_confirmation/result.nRPLC.nce25
3_data_analysis/4_prediction/3_urine_metabolomics_time_to_delivery_prediction_rf/remove_cs/annotation_confirmation/result.nRPLC.nce50
3_data_analysis/4_prediction/3_urine_metabolomics_time_to_delivery_prediction_rf/remove_cs/annotation_confirmation/result.pRPLC.nce25
3_data_analysis/4_prediction/3_urine_metabolomics_time_to_delivery_prediction_rf/remove_cs/annotation_confirmation/result.pRPLC.nce50
3_data_analysis/4_prediction/3_urine_metabolomics_time_to_delivery_prediction_rf/remove_cs/peak_shape/POS/QC1-3.mzXML
3_data_analysis/4_prediction/3_urine_metabolomics_time_to_delivery_prediction_rf/remove_cs/peak_shape/POS/QCU1.mzXML
3_data_analysis/4_prediction/3_urine_metabolomics_time_to_delivery_prediction_rf/remove_cs/peak_shape/POS/QCU15.mzXML
3_data_analysis/4_prediction/3_urine_metabolomics_time_to_delivery_prediction_rf/remove_cs/peak_shape/POS/QCU28.mzXML
